@charset "UTF-8";
body {
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴ ProN W3", Verdana, Arial, Helvetica, sans-serif !important;
}

.bg-primary {
  background-color: #08b450 !important;
}

.header-container header.site-header {
  background-color: #ffffff;
}
.header-container header.site-header #header #header-logo {
  text-align: center;
  padding-top: 30px;
}
.header-container header.site-header #header #header-logo img {
  width: 40%;
}
.header-container header.site-header #header .header-titles {
  text-align: center;
}
.header-container header.site-header #header .header-titles h2 {
  font-size: 0.8em;
}
.header-container header.site-header #header #osakauni-outer {
  text-align: right;
}
.header-container header.site-header #header #osakauni-outer a {
  display: block;
}

.site-content-contain .site-content {
  padding: 0;
}

.main-container .post {
  margin-top: 30px;
}
.main-container .post .post-element .post-element-header {
  border-bottom: dotted #999 1px;
}
.main-container .post .post-element .info2_header {
  display: inline;
}
.main-container .post .post-element dl.info2 .post-date {
  font-size: 16px;
}
.main-container .post .post-element dl.info2 li {
  list-style: none;
}
.main-container .post .post-element dl.info2 dd {
  border-bottom: dotted 2px green;
}
.main-container .section-header {
  line-height: 28px;
  border-bottom: 1px #CCC dotted;
}
.main-container .aboutseeds {
  margin-top: 60px;
}
.main-container .aboutseeds h4#aboutseeds-subtitle {
  height: 16%;
  font: normal;
  color: #338220;
  font-size: 1em;
}
.main-container .aboutseeds .explanationofseeds p {
  line-height: 1.4em;
  text-align: left;
  font-size: 0.8em;
}
.main-container .aboutseeds .explanationofseeds p span {
  font-weight: bold;
  font-style: italic;
}
.main-container .aboutseeds .program-download-btn {
  margin-top: 30px;
  text-align: center;
}
.main-container .centering-box {
  text-align: center;
  padding-top: 60px;
}
.main-container .sns {
  margin-top: 60px;
  text-align: center;
}
.main-container .sns .sns-content {
  margin: 30px 0;
}
.main-container #content {
  padding-top: 0;
}

.footer-container #footer_links {
  clear: both;
  border-top: 2px solid #999;
}
.footer-container #footer_links .inner {
  background-image: url(assets/images/footer.png);
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-container #footer {
  clear: both;
  background-color: #5E471D;
  padding: 20px 0;
  color: #FFF;
  text-align: center;
  font-size: 0.6em;
  font-weight: normal;
}

@media screen and (max-width: 480px) {
  .header-container #header #header-sns {
    display: none;
  }

  .main-container {
    margin: 0 2%;
  }
  .main-container .aboutseeds {
    text-align: center;
  }
  .main-container .aboutseeds .movie {
    display: none;
  }
  .main-container .human {
    display: none;
  }
  .main-container .aboutprogram {
    display: none;
  }
  .main-container .messagesfromteachers {
    display: none;
  }
  .main-container #secondary {
    display: none;
  }
  .main-container #post-1 {
    display: none;
  }
  .main-container #social {
    display: none;
  }

  .footer-container #footer_links .blocks1 {
    display: none;
  }
  .footer-container #footer_links .blocks2 {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-container {
    padding-top: 120px;
  }
  .header-container #header {
    background-color: #FFF;
  }
  .header-container #header .inner #header-logo img#seeds-logo {
    width: 20%;
  }
  .header-container #header .inner .header-titles h2 {
    font-size: 1em;
    font-weight: normal;
    line-height: 1.6;
    margin-top: 30px;
  }
  .header-container #header .inner .header-titles h2 a {
    color: #333;
    text-decoration: none;
  }
  .header-container #header .inner #header-sns {
    margin-top: 18px;
    text-align: center;
  }
  .header-container #header .inner #header-sns .my-blue {
    color: #4861AC;
  }
  .header-container #header .inner #header-sns .my-skyblue {
    color: #009EF6;
  }
  .header-container #header .inner #osakauni-outer {
    display: inline-block;
  }
  .header-container #top-navbar {
    width: 100vw;
  }
  .header-container .navbar li.nav-item {
    font-size: 0.9em;
  }

  .main-container .contents {
    width: 100vw;
    padding: 0 2%;
  }
  .main-container .contents .post {
    text-align: center;
  }
  .main-container .contents .post .post-element {
    display: inline-block;
    padding: 20px;
    border: 1px solid;
    border-radius: 10px;
  }
  .main-container .contents .post .post-element .info2 .post-date {
    font-size: 16px;
    margin-left: 15px;
  }
  .main-container .contents .post .post-element .info2 dd {
    margin-left: 15px;
    font-size: 16px;
    line-height: 16px;
    border-bottom: dotted 2px green;
  }
  .main-container .contents .post .program {
    margin-right: 10px;
  }
  .main-container .contents .post .newsandactivities {
    margin-left: 10px;
  }
  .main-container .contents .section-header {
    line-height: 28px;
    border-bottom: 1px #CCC dotted;
    text-shadow: 1px 1px #CCC;
  }
  .main-container .contents .aboutseeds .aboutseeds-element {
    margin-bottom: 20px;
    text-align: center;
  }
  .main-container .contents .aboutseeds .aboutseeds-element #aboutseeds-subtitle {
    font-size: 1em;
  }
  .main-container .contents .aboutseeds .explanationofseeds {
    font-size: 1em;
  }
  .main-container .contents .human {
    margin-top: 90px;
  }
  .main-container .contents .human .ability {
    margin-bottom: 10px;
  }
  .main-container .contents .human .ability h3 {
    margin: 0;
  }
  .main-container .contents .human .ability p {
    margin-top: 5px;
    font-size: 0.9em;
    line-height: 1.2em;
  }
  .main-container .contents .human .kadaitankyu h3 {
    color: #D85E94;
    text-shadow: 1px 1px #CCC;
  }
  .main-container .contents .human .ronritekisiko h3 {
    color: #C95327;
    text-shadow: 1px 1px #CCC;
  }
  .main-container .contents .human .leadership h3 {
    color: #467BAE;
    text-shadow: 1px 1px #CCC;
  }
  .main-container .contents .human .presentation h3 {
    color: #BB9013;
    text-shadow: 1px 1px #CCC;
  }
  .main-container .contents .human .eigokoryu h3 {
    color: #645F93;
    text-shadow: 1px 1px #CCC;
  }
  .main-container .contents .human .kagakurinri h3 {
    color: #336633;
    text-shadow: 1px 1px #CCC;
  }
  .main-container .contents .aboutprogram {
    margin-top: 90px;
  }
  .main-container .contents .aboutprogram .programgaiyo {
    margin: 0 5%;
  }
  .main-container .contents .aboutprogram .programgaiyo img {
    border: solid 1px;
  }
  .main-container .contents .messagesfromteachers {
    margin-top: 90px;
  }
  .main-container .contents .messagesfromteachers p {
    font-size: 14px;
    line-height: 1.3em;
  }
  .main-container .contents .messagesfromteachers .teachers {
    border: 1px solid;
    box-shadow: 5px 10px;
    margin-bottom: 30px;
  }
  .main-container .contents .messagesfromteachers .teachers .introduction {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .main-container .contents .messagesfromteachers .teachers .introduction .katagaki {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 0.9em;
  }
  .main-container .contents .messagesfromteachers .teachers .introduction .teacher-name {
    font-size: 1.3em;
  }
  .main-container #secondary {
    display: none;
  }
  .main-container #post-1 {
    display: none;
  }
  .main-container #social {
    display: none;
  }

  .footer-container #footer_links {
    min-width: 980px;
    clear: both;
    border-top: 2px solid #999;
  }
  .footer-container #footer_links .inner {
    background-image: url(assets/images/footer.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer-container #footer_links .blocks1 {
    float: left;
    width: 200px;
  }
  .footer-container #footer_links .blocks2 {
    float: left;
    width: 180px;
  }
  .footer-container #footer {
    min-width: 980px;
    clear: both;
    background-color: #5E471D;
    padding: 20px 0;
    color: #FFF;
    text-align: center;
    font-size: 0.786em;
    font-weight: normal;
  }
  .footer-container #footer_links .blocks1 ul li,
  .footer-container #footer_links .blocks2 ul li {
    padding: 0 0 0 20px;
    background-image: url(assets/images/arrow_navi.png);
    background-repeat: no-repeat;
    background-position: 3px 5px;
    /*追加*/
    list-style-type: none;
    line-height: 22px;
    font-size: 0.9em;
    /**/
  }
}
@media screen and (min-width: 1025px) {
  .main-container .contents .aboutprogram .programgaiyo {
    margin: 0 15%;
  }
}
@media screen and (min-width: 1200px) {
  .header-container {
    padding: 0;
  }
  .header-container header.site-header #header .inner {
    padding-top: 6px;
  }
  .header-container header.site-header #header .inner #header-logo {
    padding-top: 0;
    padding-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-container header.site-header #header .inner #header-logo img#seeds-logo {
    width: 100%;
  }
  .header-container header.site-header #header .inner .header-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
  }
  .header-container header.site-header #header .inner .header-titles h2 {
    margin: 0;
  }
  .header-container header.site-header #header .inner .header-titles #header-description {
    font-size: 1.3em;
    padding-top: 0;
  }
  .header-container header.site-header #header .inner #header-sns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    font-size: 0.5em;
  }
  .header-container header.site-header #header .inner #osakauni-outer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-container header.site-header .navbar li.nav-item {
    font-size: 1.3em;
  }
}

/*# sourceMappingURL=style.css.map */
