body {
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴ ProN W3", Verdana, Arial, Helvetica, sans-serif !important;
}
.bg-primary {
	background-color: #08b450 !important;
}
.header-container {
	header.site-header {
		background-color: #ffffff;
		#header {
			#header-logo {
				text-align: center;
				padding-top: 30px;
				img {
					width: 40%;
				}
			}
			.header-titles {
				text-align: center;
				h2 {
					font-size: 0.8em;
				}
			}
			#osakauni-outer {
				text-align: right;
				a {
					display: block;
				}
			}
		}
	}
}
.site-content-contain {
	.site-content {
		padding: 0;
	}
}
.main-container {
	.post{
		margin-top: 30px;
		.post-element{
			.post-element-header {
				border-bottom: dotted #999 1px;
			}
			.info2_header{
				display: inline;
			}
			dl.info2{
				.post-date{
					font-size: 16px;
				}
				li {
					list-style: none;
				}
				dd{
					border-bottom: dotted 2px green;
				}
			}
		}
	}  
	.section-header {
		line-height: 28px;
		border-bottom: 1px #CCC dotted;
	}
	.aboutseeds {
		margin-top: 60px;
		// スマホのみ？
		// text-align: center;
		h4#aboutseeds-subtitle {
			height: 16%;
			font: normal;
			color: #338220;
			font-size: 1em;
		}
		.explanationofseeds p {
			line-height: 1.4em;
			text-align: left;
			font-size: 0.8em;
			span {
				font-weight: bold;
				font-style: italic;
			}
		}
		.program-download-btn {
			margin-top: 30px;
			text-align: center;
		}
	}
	// .aboutprogram {
	// 	.programgaiyo{
	// 		margin-bottom: 40px;
	// 	}
	// }
	.centering-box {
		text-align: center;
		padding-top: 60px;
	}
	.sns {
		margin-top: 60px;
		text-align: center;
		.sns-content {
			margin: 30px 0;
		}
	}
	#content {
		padding-top: 0;
	}
}
.footer-container {
	#footer_links {
		clear:both;
		border-top:2px solid #999;
		.inner {
			background-image:url(assets/images/footer.png);
			background-size: contain;
			background-position:right bottom;
			background-repeat:no-repeat;
			overflow:hidden;
			padding-top:20px;
			padding-bottom:20px;
		}
	}
	#footer {
		clear:both;
		background-color:#5E471D;
		padding:20px 0;
		color:#FFF;
		text-align:center;
		font-size:0.6em;
		font-weight:normal;
	}
}
@media screen and (max-width:480px){
	.header-container {
		#header {
			#header-sns {
				display: none;
			}
		}
	}
	.main-container {
		margin: 0 2%;
		.aboutseeds {
			text-align: center;
			.movie {
				display: none;
			}
		}
		.human{
			display: none;
		}
		.aboutprogram {
			display: none;
		}
		.messagesfromteachers {
			display: none;
		}
		#secondary {
			display: none;
		}
		#post-1 {
			display: none;
		}
		#social {
			display: none;
		}
	}
	.footer-container {
		#footer_links {
			.blocks1 {
				display: none;
			}
			.blocks2 {
				display: none;
			}
		}
	}
}
@media screen and (min-width:768px){
	.header-container {	
		padding-top: 120px;
		#header {
			background-color:#FFF;
			.inner{
				#header-logo {
					img#seeds-logo {
						width: 20%;
					}
				}
				.header-titles {
					h2 {
						font-size:1em;
						font-weight:normal;
						line-height:1.6;
						margin-top:30px;
						a {
							color:#333;
							text-decoration:none;
						}
					}
				}
				#header-sns {
					margin-top: 18px;
					text-align:center;
					.fb_logo {
						// margin-right:10px;
					}
					.my-blue {
						color: #4861AC;
					}
					.tw_logo {
						// margin-left:10px;
					}
					.my-skyblue {
						color: #009EF6;
					}
				}
				#osakauni-outer {
					display:inline-block;
				}
			}
		}
		#top-navbar {
			width: 100vw;
		}	
		.navbar li.nav-item {
			font-size: 0.9em;
		}
	}
	.main-container {
		.contents {
			width: 100vw;
			padding: 0 2%;
			.two-bosyubutton {
				// height: 100px;
				// padding: 20px 0;
			}
			.post {
				text-align: center;
				h3 {
				}
				.info2 {
				}
				.post-element {
					display: inline-block;
					padding: 20px;
					border: 1px solid;
					border-radius: 10px;
					.info2_header {
					}
					.info2 {
						.post-date {
							font-size: 16px;
							margin-left: 15px;
						}
						dd {
							margin-left: 15px;
							font-size: 16px;
							line-height: 16px;
							border-bottom: dotted 2px green;
						}
					}
				}
				.program {
					margin-right: 10px;
				}
				.newsandactivities {
					margin-left: 10px;
				}
			}   
			.section-header {
				line-height: 28px;
				border-bottom: 1px #CCC dotted;
				text-shadow: 1px 1px #CCC;
			}
			.aboutseeds {
				.aboutseeds-element {
					margin-bottom: 20px;
					text-align: center;
					#aboutseeds-subtitle {
						font-size: 1em;
					}
				}
				.explanationofseeds {
					font-size: 1em;
				}
				.movie {
				}
			}
			.human {
				margin-top: 90px;
				.ability {
					margin-bottom: 10px;
					h3 {
						margin: 0;
					}
					p {
						margin-top: 5px;
						font-size: 0.9em;
						line-height: 1.2em;
					}
				}
				.kadaitankyu h3 {
					color: #D85E94;
					text-shadow: 1px 1px #CCC;
				}
				.ronritekisiko h3 {
					color: #C95327;
					text-shadow: 1px 1px #CCC;
				}
				.leadership h3 {
					color: #467BAE;
					text-shadow: 1px 1px #CCC;
				}
				.presentation h3 {
					color: #BB9013;
					text-shadow: 1px 1px #CCC;
				}
				.eigokoryu h3 {
					color: #645F93;
					text-shadow: 1px 1px #CCC;
				}
				.kagakurinri h3 {
					color: #336633;
					text-shadow: 1px 1px #CCC;
				}
			}
			.aboutprogram{
				margin-top: 90px;
				.programgaiyo{
					margin: 0 5%;
					img{
						border: solid 1px;
					}
				}
			}
			.messagesfromteachers {
				margin-top: 90px;
				p {
					font-size: 14px;
					line-height: 1.3em;
				}
				.teachers {
					border: 1px solid;
					box-shadow: 5px 10px;
					margin-bottom: 30px;
					.introduction {
						margin-top: 10px;
						margin-bottom: 30px;
						.katagaki {
							font-weight: bold;
							margin-bottom: 5px;
							font-size: 0.9em;
						}
						.teacher-name {
							font-size: 1.3em;
						}
						.teacherphoto {
							// width: 10%;
							// height: 200px;
						}
					}
				}
			}
			.sns{
				.sns-content{
				}
				.facebook{
				}
				.twitter{
				}
			}
			
		}
		#secondary{
			display: none;
		}
		
		#post-1{
			display: none;
		}
		
		#social{
			display: none;
		}
	}
	.footer-container {
		#footer_links {
			min-width:980px;
			clear:both;
			border-top:2px solid #999;
			.inner {
				background-image:url(assets/images/footer.png);
				background-position:right bottom;
				background-repeat:no-repeat;
				overflow:hidden;
				padding-top:20px;
				padding-bottom:20px;
			}
			.blocks1 {
				float:left;
				width:200px;
			}
			.blocks2 {
				float:left;
				width:180px;
			}
		}
		#footer {
			min-width:980px;
			clear:both;
			background-color:#5E471D;
			padding:20px 0;
			color:#FFF;
			text-align:center;
			font-size:0.786em;
			font-weight:normal;
		}
		#footer_links .blocks1 ul li, 
		#footer_links .blocks2 ul li {
			padding:0 0 0 20px;
			background-image:url(assets/images/arrow_navi.png);
			background-repeat:no-repeat;
			background-position:3px 5px;
			/*追加*/
			list-style-type: none;
			line-height:22px;
			font-size:0.9em;
			/**/
		}
	}
}	
// ipad 9.6inchの横以上
@media screen and (min-width:1025px){
	.main-container {
		.contents {
			.aboutprogram {
				.programgaiyo {
					margin: 0 15%;
				}
			}
			// .aboutseeds {
			// 	#aboutseeds-subtitle {
			// 		font-size: 0.5em;
			// 	}
			// }
		}
	}
}
// bootstrapのxl
@media screen and (min-width: 1200px){
	.header-container {
		padding: 0;
		header.site-header {
			#header {
				.inner {
					padding-top: 6px;
					#header-logo {
						padding-top: 0;
						padding-left: 2%;
						display: flex;
						justify-content: center;
  						align-items: center;
						img#seeds-logo {
							width: 100%;
						}
					}
					.header-titles {
						// visibility: hidden;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: flex-start;
						text-align: left;
						
						
						h2 {
							margin: 0;
						}

						#header-description {
							font-size: 1.3em;
							padding-top: 0;
						}
					}
					#header-sns {
						display: flex;
						justify-content: space-between;
  						align-items: center;
						margin: 0;
						font-size: 0.5em;
						a {
							img {
							}
						}
					}
					#osakauni-outer {
						display: flex;
						justify-content: center;
  						align-items: center;
						a {
							img {
							}
						}
					}
				}
			}
			.navbar li.nav-item {
				font-size: 1.3em;
			}
		}
	}
}
